page-article {

}

.title.title-center {
    text-align: center;
    left: 0px !important;
    right: 0px !important;
}

h1.title{
    left: 0 !important;
    right: 0 !important;
}

.company-logo {
    /*background-image: url('../img/simpl.png');*/
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.article-header-logo{
    max-width: 65% !important;
    margin: auto !important;
}