<!--
  Generated template for the RssSingle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="bar-appture">
        <ion-title>
            <ion-title class="text-center">
                <h1 [ngStyle]="{'background': 'url(' + commonServices.headerLogo + ') no-repeat center', 'background-size': 'cover'}" class="title company-logo article-header-logo">&nbsp;</h1>
                <!--<img src="{{commonServices.headerLogo}}">-->
            </ion-title>
        </ion-title>
    </ion-navbar>
    <ion-toolbar class="bar-appture">
        <ion-buttons left>
            <button ion-button icon-only (click)="goLeft()">
            <ion-icon name="md-arrow-back" click="goLeft()"></ion-icon>

        </button>
        </ion-buttons>
        <ion-title>{{title}}{{length}}/{{i}}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="goRight()">
            <ion-icon name="md-arrow-forward" click="goRight"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="padding-0">
    <ion-slides class="padding-0">
        <ion-slide style="margin:0px!important; padding: 0px!important;" *ngFor="let p of rssData" class="slide-content">

            <ion-item class="item-RSS">
                <div class="item-image min-h-250 " [ngStyle]="{'background-image': 'url(' + p.imageLink + ')'}">

                    <!--<img cache-src="{{article.image}}">-->
                    <div class="titles">
                        <h1 class="new-line">{{p.title}}</h1>
                        <h3 style="color:white; white-space:normal!important; margin:5px;" class="bold">{{p.subTitle}}</h3>
                    </div>

                </div>
                <div class="item-content">
                    <div class="row">
                        <div class="col bold italic">
                            <ion-icon item-left ios="ios-bulb-outline" md="md-bulb"></ion-icon>{{p.author}}
                        </div>
                        <div class="col bold italic">
                            <ion-icon item-left ios="ios-calendar-outline" md="md-calendar">

                            </ion-icon>
                            <!--{{p.pubDate |   date:'longDate'}}-->
                        </div>
                    </div>
                    <div class="row padding-top-15">
                        <div class="col">
                            <p class="article-content" [innerHTML]="p.content"></p>
                        </div>
                    </div>
                    <!--<srf-social-share data-config="itemCtrl.share"></srf-social-share>-->
                </div>
            </ion-item>
        </ion-slide>
    </ion-slides>
</ion-content>


<!--<ion-content class="has-subheader">-->

<!--<ion-slides>-->
<!--<ion-slide *ngFor="let p of rssData[i].items" class="slide-content">-->

<!--<ion-item style="position:absolute; top:20%; background:transparent">-->
<!--{{p.title}}-->
<!--</ion-item>-->
<!--<div class="margin-padding-0" [innerHTML]="p.content"></div>-->
<!--<div class="margin-paddin-10" [innerHTML]="p.description"></div>-->
<!--</ion-slide>-->
<!--</ion-slides>-->
<!--</ion-content>-->