<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar class="bar-appture">
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title class="text-center">
            <h1 [ngStyle]="{'background': 'url(' + commonServices.headerLogo + ') no-repeat center', 'background-size': 'cover'}" class="title company-logo article-header-logo">&nbsp;</h1>
            <!--<img src="{{commonServices.headerLogo}}">-->
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="md-refresh"></ion-icon>
      </button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>


<ion-content class="has-header dark-bg">

    <!--1st Slide-->
    <ion-slides autoplay="2000" loop="true" *ngIf="!slider1Loading" [ngStyle]="commonServices.sliderheight" class="valign-parent">
        <ion-slide *ngFor="let slide of slides.menu" class="text-center slider-bg lightgray-bg" (click)="goToInside(slide.article)" [ngStyle]="{'background': 'url(' + (slide.image | serverImage) + ') no-repeat center', 'background-size': 'cover'}">
            <!--<img src="{{slide.image | serverImage}}">-->
        </ion-slide>
    </ion-slides>
    <!--End of 1st Slide-->

    <!--2nd Slide-->
    <ion-slides autoplay="1500" loop="true" *ngIf="!slider1Loading" [ngStyle]="commonServices.promo_banner" class="padding-separation valign-parent">
        <ion-slide *ngFor="let banner of commonServices.banners" class="text-center slider2-bg" [ngStyle]="{'background': 'url(' + (banner.image | serverImage) + ') no-repeat center','background-size': 'cover'}">
            <!--<img src="{{banner.image | serverImage}}">-->
        </ion-slide>
    </ion-slides>
    <!--End of 2nd Slide-->

    <!--RSS Feeds-->
    <ion-grid class="margin-padding-0">
        <ion-row class="margin-padding-0">
            <ion-col item-left class="margin-padding-0" *ngFor="let image of commonServices.RssArticle,let i=index"  col-6 >
                <img class="margin-padding-0" src={{baseImageUrl}}{{image.image}} (click)="gotoRss(i)">
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--End of RSS Feeds-->

</ion-content>

<ion-footer class="footer-appture">
    <ion-scroll zoom="false" scrollX="true" style="height: 60px" class="categories-filter">
        <span class="footer-col" ng-click="footerLink(links)" *ngFor="let links of commonServices.footerLinks" >
                <ion-row class="padding-top-5" (click)="goToFfooterInside(links)">
                    <ion-col class="col padding-0 text-x-large" >
                        <i class="icon" [ngClass]="links.icon"></i>
                        <!--<ion-icon name="search"></ion-icon>-->
                    </ion-col>
                </ion-row>
                <ion-row class="">
                    <ion-col class="col padding-0 text-small" (click)="goToFfooterInside(links)">
                        {{links.name}}
                    </ion-col>
                </ion-row>
            </span>
    </ion-scroll>
</ion-footer>