// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Cutive';
    src: url('../../assets/fonts/Cutive-Regular.eot');
    src: url('../../assets/fonts/Cutive-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Cutive-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Cutive-Regular.woff') format('woff'),
    url('../../assets/fonts/Cutive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway-Light.eot');
    src: url('../../assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Raleway-Light.woff2') format('woff2'),
    url('../../assets/fonts/Raleway-Light.woff') format('woff'),
    url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../assets/fonts/MyriadPro-Bold.eot');
    src: url('../../assets/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Bold.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/fonts/PlayfairDisplay-Regular.eot');
    src: url('../../assets/fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../../assets/fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.playfair{
    font-family: "Playfair Display",sans-serif ;
}
.cutive{
    font-family: "Cutive",sans-serif ;
    font-weight: normal;
    font-style: normal;
}
.raleway{
    font-family: "Raleway",sans-serif ;
    font-weight: 300;
    font-style: normal;
}
.myriad{
    font-family: "Myriad Pro",sans-serif ;
    font-weight: bold;
    font-style: normal;
}

.article-content {
  p, strong {
    white-space: normal !important;
    overflow: visible !important;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    font-family: sans-serif;
  }
}

.app-article-content {
    text-align: left!important;
  p, strong {
    white-space: normal !important;
    overflow: visible !important;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    font-family: sans-serif;
  }
}

.article-content {
  p:first-child {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h1 {
    white-space: normal !important;
    font-size: 28px !important;
    margin-bottom: 10px;
    margin-top: 14px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
  }
}

.app-article-content h1, .article-content h1 strong, .app-article-content h1 strong {
  white-space: normal !important;
  font-size: 28px !important;
  margin-bottom: 10px;
  margin-top: 14px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
}

.article-content h2, .app-article-content h2, .article-content h2 strong, .app-article-content h2 strong {
  white-space: normal !important;
  font-size: 24px !important;
  margin-bottom: 10px;
  margin-top: 12px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
}

.article-content h3 {
  white-space: normal !important;
  font-size: 20px !important;
  margin-bottom: 0px;
  margin-top: 10px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
  strong {
    white-space: normal !important;
    font-size: 20px !important;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
  }
}

.app-article-content h3 {
  white-space: normal !important;
  font-size: 20px !important;
  margin-bottom: 20px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
  strong {
    white-space: normal !important;
    font-size: 20px !important;
    margin-bottom: 20px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
  }
}

.article-content h4, .app-article-content h4, .article-content h4 strong, .app-article-content h4 strong {
  white-space: normal !important;
  font-size: 18px !important;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
}

.article-content h5, .app-article-content h5, .article-content h5 strong, .app-article-content h5 strong {
  white-space: normal !important;
  font-size: 1em !important;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
}


.bar-appture .toolbar-background{
    border-color: transparent!important;
    background: linear-gradient( #000000, #666666)!important;
    color: #fff!important;
    }
    .bar-appture .toolbar-title {
      color: #fff!important;
       }
    .bar-appture.bar-footer {
      background-image: linear-gradient(180deg, #000000, #666666 50%, transparent 50%)!important; 
      }
.bar-transparent .toolbar-background{
    background: transparent!important;
    border: none;
    }
.valign-parent{
    display: table;
    width: 100%;
}

      
.bar-appture .bar-button {
  border-color: transparent;
  background-color: transparent;
  color: #fff; }
  .bar-appture .bar-button:hover {
    color: #fff;
    text-decoration: none; }
  .bar-appture .button.active,
  .bar-appture .button.activated {
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .bar-appture .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-appture .button.button-icon {
    border-color: transparent;
    background: none; }

    .footer-appture{
        height:50px;
            background: linear-gradient( #000000, #666666)!important;
color: white;
    }

    .footer-col{
        text-align: center;
    display: inline-block;
    min-width: 25%;
    }
    .categories-filter {
    overflow: scroll;
    white-space: nowrap !important;
    width: 100%;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway-Light.eot');
    src: url('../../assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Raleway-Light.woff2') format('woff2'),
    url('../../assets/fonts/Raleway-Light.woff') format('woff'),
    url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.raleway{
    font-family: "Raleway",sans-serif ;
    font-weight: 300;
    font-style: normal;
}

.menu-set a {
    background-color: transparent !important;
    color: white !important;
}

.menu-set ion-item  {
    background-color: transparent;
}

.platform-ios.platform-cordova .menu-set ion-item:first-child {
    margin-top: 20px !important;
}

.menu-set .item.scheduler-item{
    height: 53px!important;
    color: white!important;
    font-size: 18px!important;
    padding: 16px 16px 16px 55px!important;
}
.row-wrap{
    width: 100%;
    white-space: normal;
}
.col-wrap{
    display: inline-block;
}
.full-dim{
    width: 100%;
    height: 100%;
}
.bg-cover{
    background-size: cover;
    background-position: center;
}
.no-header{
    top:0;
    .fixed-content{
        margin-top: 0!important;
    }
    .scroll-content{
        margin-top: 0!important;
    }
}
.no-header-button{
    width: 40px;
    height: 40px;
    background: #387ef5;
    text-align: center!important;
    border-radius: 20px;
    line-height: 30px;
}
.black-bg{
    background: black;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom:none!important;
}
.item-block{
    min-height: 5rem!important;
}
.translucent-menu{
    background: transparent!important;
    .menu-inner{
        background: rgba(0,0,0,0.8)!important;
        ion-content{
            background: transparent!important;
            ion-list{
                background: transparent!important;
                ion-item{
                    background: transparent!important;
                }
            }
        }
    }
}
.article-image{
    min-height: 200px;
}
.item-border-full-bottom{
    border: 1px solid #ccc;
    .item-inner{
        border: none!important;
    }
}
.item-border-none{
    .item-inner{
        border: none!important;
    }
}
.item-small{
    min-height: 10px!important;
    ion-icon{
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    ion-label{
         margin-top: 0!important;
        margin-bottom: 0!important;
    }
}
.slide-content{
    overflow-y: scroll;
    display: block;
}

.event-item{
        border-bottom:1px solid #ccc;
        min-height: 100px;
        padding: 12px!important;
        ion-thumbnail{
            margin-top: 0!important;
            img{
                width: 70px;
                height: 70px;
                border-radius: 4px;
            }
        }
        .item-inner{
            border:none!important;
            ion-label{
                white-space: normal;
                margin: 0;
                p{
                    margin-top: 5px;
                }
            }
        }
    }


.article-header-logo{
    max-width: 100% !important;
    margin: auto !important;
}
.pull-right {
    float: right;
}