page-video-category {

}
.margin-padding-0-height-80{
  margin:0px!important;
  paddin:0px!important;
  height:100px!important;
}
.margin-top-bottom-0-height-80{
  margin-top:0px!important;
  margin-bottom:0px!important;
  height:100px!important;
  margin-left:0px!important;
}
.height-80-width-80{
  height:100px!important;
  width:80px!important;
}
margin-paddin-0{
  margin:0px!important;
  padding:0px!important;

}
